@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); */
/*  @keyframes breath {
  0%   { background-size: 100% auto; }
  50% { background-size: 140% auto; }
  100% { background-size: 100% auto; }
}  */

/* @keyframes breath {
  0%   { background-size: 130% auto; }
  50% { background-size: 100% auto; }
} */

 @keyframes breath {
  0%   { background-size: auto 170%; }
  100%  { background-size: auto 155%; }
  /* 100% { background-size: auto 100%; } */
}

/*   div.joritem-1{
	background: url(../divImgs/jorim3.jpg) no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    background-size: auto 155%;
  	background-position: center center;
		animation: breath 2s linear;
    margin: 0px;
    padding: 0px;
} */


div.joritem-1 {
	background: url(../divImgs/jorim3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #434343;
	color: #ffffff;
    height: 100vh;
    width: 100vw;
    background-size: auto 155%;
  	background-position: center center;
		animation: breath 2s linear;    
}

/* div.joritem-1{
	animation: breath 2s linear;
} */

.joritem-2{
	background: url(../divImgs/jorim1.jpg) no-repeat center center fixed;/* 가운데 기준으로 이미지확대 */
 	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	  height: 50vh;
	  width: 100vw;
	  background-position: center center;
    margin: 0px;
    padding: 0px;
    background-color: #434343;
	color: #ffffff;
}


/* div.joritem-2::before{
  content: "";
  display: block;
  -webkit-filter:  brightness(0.5);
  -moz-filter:  brightness(0.5);
  -ms-filter:  brightness(0.5);
  -o-filter:  brightness(0.5);
  filter:  brightness(0.5); 
	z-index: 0 !important;
	background: inherit !important;
}
 */
 div.joritem-3{
	background: url(../divImgs/jorim4.jpg) no-repeat center center;/* 가운데 기준으로 이미지확대 */
 	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	  height: 100vh;
	  background-position: center center;
    margin: 0px;
    padding: 0px;
} 


/* slider */
/* body{
  font-family: 'Lato', sans-serif;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
} 
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 
.carousel-caption {
    text-shadow: 0 1px 4px rgba(0,0,0,.9);
  font-size:17px;
  border:solid red 1px; *//* 
  margin-bottom:3%;
  color: #FFF;
  padding-left:30px;
  padding-right:30px;
  background-color: black;
  opacity: 0.8;
}
.carousel-caption h3 {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  color: #FFF;
  font-weight:bold;
}

.carousel-caption p {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #FFF;
  font-weight:bold;  
}
    html,
    body,
    .carousel,
    .carousel-inner,
    .carousel-inner .item {
      height: 100%;
    } 
    
    #carouselFade{
    	height:60vh;
    }

    #aboutjorim:nth-child(1) {
      background: url('../divImgs/misoSlide.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }
	
    #aboutjorim:nth-child(2) {
      background: url('../divImgs/gojorim.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }


    #aboutjorim:nth-child(3) {
      background: url('../divImgs/ojing.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    } */
    
    /* IE  */
    /*Edge*/
@supports ( -ms-accelerator:true ) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
}
/*Ie 10/11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
}
    
    /* font awsom truck icon*/
    /* .slogan::before {
	    font-family: "FontAwesome";
	    content: "\f0d1";
		color:gray;
	} */

/* 인덱스 메인 문구 centered */	
.col-centered{
    float: none;
    margin: 0 auto;
}

/* 메뉴 이미지 비율 */
	/* 사진리스트 비율 */
	.ratio{
	    position:absolute;
	    width: 100%;
	    /* height: 150px; */
	    height: 0;
	    /* padding-bottom: 50% ; % of width, defines aspect ratio */
	    padding-top:100%; 
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
	}
	
/* menu recommend */

 #recomenu1{
	    /* position:absolute; */
	    /* background: url('../divImgs/ojing.jpg'); */
	    width: 100%;
	    /* height: 150px; */
	    height: 0;
	    /* padding-bottom: 50% ; % of width, defines aspect ratio */
	    padding-top:50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
 }	
 
  /* recomand menu shadow */
 
  	.recomenu_box:hover, 
	.recomenu_box:focus, 
	.recomenu_box:active, 
	.recomenu_box.active, 
	.open .dropdown-toggle .recomenu_box {
 		
 		box-shadow:  4px 4px 5px rgba(0,0,0,0.6); 
		-moz-box-shadow:  4px 4px 5px rgba(0,0,0,0.6); 
		-webkit-box-shadow:  4px 4px 5px rgba(0,0,0,0.6); 
		-o-box-shadow:  4px 4px 5px rgba(0,0,0,0.6);
		
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	
	/* 클릭버튼 테두리 none */
	.btn:focus,.btn:active {
	   outline: none !important;
	   box-shadow: none;
	}	
	
		#ptListRow{
		margin: 10px -3px 10px -3px;
	}
	
	/* 추천1 */
 #recomenslide1{
	    background: url('../divImgs/jeyouk.jpg');
	    width: 100%;
	    height: 0;
	    padding-top:50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
 }		
 
 #recomenslide2{
	    background: url('../divImgs/eggroll.PNG');
	    width: 100%;
	    height: 0;
	    padding-top:50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
 }		
 
 #recomenslide3{
	    background: url('../divImgs/osam.jpg');
	    width: 100%;
	    height: 0;
	    padding-top:50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
 }		
 
  #recomenslide4{
	    background: url('../divImgs/ojing.jpg');
	    width: 100%;
	    height: 0;
	    padding-top:50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
 }
 
 /* 추천2  */
	 #recomenslide11{
	    background: url('../divImgs/jeyouk.jpg');
	    width: 100%;
	    height: 0;
	    padding-top:50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
 }		
 
 #recomenslide22{
	    background: url('../divImgs/eggroll.PNG');
	    width: 100%;
	    height: 0;
	    padding-top:50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
 }		
 
 #recomenslide33{
	    background: url('../divImgs/osam.jpg');
	    width: 100%;
	    height: 0;
	    padding-top:50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
 }		
 
  #recomenslide44{
	    background: url('../divImgs/ojing.jpg');
	    width: 100%;
	    height: 0;
	    padding-top:50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
 }
 
 /*  */
	/* new slider */
	.hide-bullets {
		list-style:none;
		margin-left: -40px;
		margin-top:20px;
	}
	
  .recomand_main{
	    width: 100%;
	    height: 0;
	    padding-top:50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
 }	
	
/* 톨팁이미지 */
body .popover {
  max-width: 350px;
}
	