@charset "UTF-8";

div.jointem{
	/* background: url(../divImgs/jorim3.jpg) no-repeat center center fixed; *//* 가운데 기준으로 이미지확대 */
	background: url(../divImgs/joinn.jpg) no-repeat center center fixed;/* 가운데 기준으로 이미지확대 */
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width: 100vw;
  	background-position: center center;
    margin: 0px;
    padding: 0px;
}